.card {
    text-decoration: none ;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    max-width: 250px;
    width: 100%;
    height: 80%;
   
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    flex-direction: column;
    
  }
  
  .dataContainer {
    z-index: 1;
    color: white;
    font-size: 20px;
    padding: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    
  }

  .image{
    width: 80%;
    height: 80%;
    z-index: 1;
    position: relative;
    margin-top: 5px;
    padding: 5px 5px;
    outline: none;
    border: solid #24066a;
    background: #212121;
    color: #ae00ff;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
  }

  .image:hover {
    transition: .5s;
    box-shadow: 4px 4px 4px #ae00af;
    width: 190px;
    background-image: linear-gradient(180deg, rgb(81, 255, 0), rgb(128, 0, 128));

  }
  
 
  .card::before {
    content: '';
    position: absolute;
    width: 120px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
  }
  
   @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
   
  .card::after {
    content: '';
    position: absolute;
    border-radius: 1rem;
    background: #07182E;
    inset: .25rem;
  }  
  .card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), rgb(128, 0, 128));
    animation: rotBGimg 3.5s linear infinite;
  }


 .button {
  font-family: 'Tilt Neon', cursive;
  border: 0;
  background-image: linear-gradient(
      150deg,
      #9500ff,
      #09f,
      #00ddff
  );
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: .3s;
   }
   .button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.2s;
   }
   
   
   
   @media(max-width: 320px){
    .card img{
      height: 50%;
    }
  }